body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.results {
  font-family: "Courier New", Courier, monospace;
}

.error {
  border: solid red;
  padding: 5px;
  margin: 5px;
}

#title {
  margin-bottom: 3px;
}
#author {
  margin-top: 3px;
}

.message {
  border: solid gray;
  padding: 5px;
  margin: 5px;
}

.delay {
  border: solid blue;
  padding: 5px;
  margin: 5px;
  color: green;
}

.choice {
  border: solid orange;
  padding: 5px;
  margin: 5px;
}

.choice button {
  margin: 2px;
}

.end {
  border: solid red;
  padding: 5px;
  margin: 5px;
}
