extends layout

block javascripts
  script(src="/javascripts/index.js")

block content
  h1 Tweegee

  h3 Upload a Twine or Twee file
  form#upload_form(action="/file_upload", enctype="multipart/form-data", method="post")
    input#file(type="file", name="file", accept=".tws,.twee,.tw2,.html")
    input#submit(type="submit", value="Upload file")

  br
  hr

  pre#result.results
  br
  pre#stdout.results
