extends layout

block javascripts
  script(src="/javascripts/index.js")

block content
  h1 Tweegee

  form(action="/file_upload", enctype="multipart/form-data", method="post")
    input(type="file", name="file")
    input(type="submit", value="Upload file")
